.footer{
    margin: 5px;
    padding: 10px;
    background-image: $imgfondo;
    background-size: cover;
    background-repeat: no-repeat;
    .pfoot{
        font-size: 20px;
        color:#000;
        font-family:cursive;
    }
}