$colorPrimario: rgb(138, 95, 179);
$letra:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$imgfondo:url(../img/imagenfondo.jpg);
$colores:(
    primero: rgb(170, 122, 225),
    segundo: rgb(227, 206, 222),
    tercero: rgb(178, 219, 241)

);

$btn:(
    margin:5px,
    padding:10px 15ps,
    border:15px,
    radio:5px,
);