@import "variables";
@import "reset";
@import "navbar";
@import "header";
@import "main";
@import "sidebar";
@import "footer";
@import "row";
@import "subp";
@import "form";
@import "tarjeta";

.btn{
    color:rgb(26, 3, 49) ;
    background-color: aliceblue;
    border-radius: 5px;
}

.ul{
    text-align:start;
}
 
.img-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: inherit;
    align-items: center;
    
}