@import "variables";
@import "reset";
@import "navbar";
@import "header";
@import "main";
@import "sidebar";
@import "footer";
@import "row";
@import "subp";
@import "form";
@import "tarjeta";
@import "mixin";
@import "btn";

.ul{
    text-align:start;
}
 
.img-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: inherit;
    align-items: center;
    
}
.card{
    background-color: $colorPrimario;
}